* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #060a1f;
}

#clock #time{
    display: flex;
}

#clock #time div{
 position: relative; 
 margin: 0 5px;  
}

#clock #time div span{
    position: relative;
    display: block;
    width: 100px;
    height: 80px;
    background-color: #2196f3;
    color: #fff;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3em;
 
}

#clock h2{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}

#clock #time div{
    text-align: center;
    color: #fff;
    
}